#######################################################
# CONFIGURATION
#
# Do not use "~" as home directory as it will commonly
# not work running scripts via cron
#######################################################

# Build directory (git trunk should be checked out and site-configuration should exist)
BUILD_DIRECTORY="/data/gluon/upstream/trunk"

# Directory where factory, sysupgrade and modules directory will be synced to
MIRROR_DIRECTORY="/data/firmware-mirror/production/nightly"

# Sign-Key for nightly build
BUILD_SIGNKEY="/home/freifunk/gluon-nightly-build.key"

# Name of branch
BUILD_BRANCH="nightly"

# Build options for make
BUILD_MAKE_OPTS="-j5"

# Build images with BROKEN=1
BUILD_BROKEN=1
